<div class="col-md-3">
    <a href="single.html">
        <div class="part-sec">					 
            <img src="{{product.imagepath}}" alt=""/>
            <div class="part-info">
                <a href="#"><h5>{{product.name}}<span>Rs.{{product.offer_price}}</span>
                    <span>Rs. {{product.mrp}}</span></h5></a>
                <a class="add-cart" href="/products/{{product.category}}/{{product.id}}">Quick View</a>
                <a class="qck" href="/products/{{product.category}}/{{product.id}}">BUY NOW</a>
            </div>
        </div>
    </a>
</div>