<!DOCTYPE html>
<html>
<head>
{% if title %}
<title>{{ title }} | Agricart</title>
{% else %}
<title>Welcome to Agricart</title>
{% endif %}
<!-- <title>Bike Shop a Ecommerce Category Flat Bootstarp Responsive Website Template| Single :: w3layouts</title> -->
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Custom Theme files -->
<link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Bike-shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
<!--webfont-->
<!-- dropdown -->
<script src="{{ url_for('static', filename='js/jquery.easydropdown.js') }}"></script>
<link href="{{ url_for('static', filename='css/nav.css') }}" rel="stylesheet" type="text/css" media="all"/>
<script src="{{ url_for('static', filename='js/scripts.js') }}" type="text/javascript"></script>
<!--js-->

</head>
<body>
<!--banner-->
<script src="{{ url_for('static', filename='js/responsiveslides.min.js') }}"></script>
<script>  
    $(function () {
      $("#slider").responsiveSlides({
      	auto: false,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<div class="banner-bg banner-sec">	
	  <div class="container">
			 <div class="header">
			       <div class="logo">
						 <a href="/index"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="" style="width:100px;"/></a>
				   </div>							 
				  <div class="top-nav">										 
						<label class="mobile_menu" for="mobile_menu">
						<span>Menu</span>
						</label>
						<input id="mobile_menu" type="checkbox">
					   <ul class="nav">
                            <li class="dropdown1"><a href="/showproducts">Products</a>
                                <ul class="dropdown2">
                                      <li><a href="/products/2">Fertilizers</a></li>
                                      <li><a href="/products/3">Manure</a></li>
                                      <li><a href="/products/1">Tools</a></li>												
                                </ul>
                            </li>
                            <li class="dropdown1"><a href="#">Information</a>
                               <ul class="dropdown2">
                                      <li><a href="/government_schemes">Goverment Schemes</a></li>
                                      <li><a href="/fertilisers">Fertilisers</a>
                                       
                                      </li>
                                </ul>
                           </li> 
  
                           <li class="dropdown1"><a href="#">Soil Health</a>
                               <ul class="dropdown2">
                                      <li><a href="/soil_health_info">Soil health Info</a></li>
                                      <li><a href="/farmer_advice">Best time to fertilise plantss/</a>
                                       
                                      </li>
                                </ul>
                           </li> 
  
                           <li class="dropdown1"><a href="/weather">Weather Status</a></li>
                           <!-- <li><a href="#">Q/A Forum</a></li>      -->
                            
                        {% if current_user.is_anonymous %}
                        <li><a href="#" data-toggle="modal" data-target="#loginForm">LOGIN</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#REGISTERForm">SIGNUP</a></li>
                        {% else %}
                        <li><a href="{{ url_for('user_profile', username=current_user.username) }}">Profile</a></li>
                        <li><a href={{url_for("logout")}}>Logout</a></li>
                        {% endif %}
						  <a class="shop" href="/cart"><img src="{{ url_for('static', filename='images/cart.png') }}" alt=""/></a>
					  </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
	  </div> 				 
</div>
<!--/banner-->


<style>
.login--form .close {
    box-shadow: 0 0 1px #b7b7b7;
    float: none;
    position: absolute;
    top: -15px;
    right: -15px;
    min-width: 30px;
    color: #393939;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px #b7b7b7;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    outline: 0;
    z-index: 1;
}
.login--form .title {
    margin-bottom: 21px;
}
.form-control {
    height: 40px;
    padding: 7px 25px;
    border-radius: 0;
    box-shadow: none;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    outline: 0;
    background-color: #f8f8f8;
    width: 100%;
}
#login_form input[type="submit"]:hover, #REGISTERForm input[type="submit"]:hover {
    background: #000;
    color: #fcff19;
}
@media (max-width: 1440px)
{
    #login_form input[type="submit"], #REGISTERForm input[type="submit"] {
        width: 89%;
        margin: 0 0 0 18px;
        padding: 11px 0px;
    }
}
#login_form input[type="submit"], #REGISTERForm input[type="submit"] {
    color: #fff;
    background: #b7b7b7;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    border: none;
    width: 100%;
    margin: 0 auto;
    padding: 10px 30px;
    display: block;
    border-radius: 7px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
</style>
        




        <div id="loginForm" class="login--form modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        <div class="modal-body">
                            <div class="title">
                                <h2 class="h4">Login</h2> 
                            </div>
                            <form method="post" action="{{url_for("login")}}" data-form="validate" id="login_form" novalidate="novalidate">
                                <div class="form-group">
                                    <input type="email" name="username" id="logemail" placeholder="Your Email" class="form-control" required="" autofocus=""> 
                                    <div id="logemailerror" style="color:red;"></div>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="logpassword" placeholder="Password" class="form-control" required=""> 
                                    <div id="logpassworderror" style="color:red;"></div>
                                </div>
                                <p class="help-block"><a style="cursor: pointer" onclick="forgetp()">Forgot Your Password?</a></p>
                                <input type="submit" id="loginbtn" value="LOGIN" class="btn btn-block btn-default">
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
        <script>
            $(document).ready(function() {
                $("#loginForm").validate({
                    elementClass: div,
                    rules : 
                    {
                        username:
                        {
                            required:true,
                        },
                        password:
                        {
                            required:true,
                        }
                    },
                    display :
                    {
                        username:
                        {
                            required: "Please enter username.",
                        },
                        password:
                        {
                            required: "Please enter password.",
                        },
                    },
                      submitHandler: function(form) {
                        $(form).submit();
                      }
                 });
            });
        
        </script>
        
                
        
<div id="REGISTERForm" class="login--form modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            <div class="modal-body">
                <div class="title">
                    <h2 class="h4">REGISTRATION</h2> 
                </div>
                <form action="/register" method="post" data-form="validate" id="reg_without_verify" novalidate="novalidate">
                    
                    <div class="form-group">
                        <!-- <label for="email">Name:</label> -->
                        <input type="text" class="form-control" id="regname1" placeholder="Enter name" name="username" autofocus="">
                        <div id="regnameerror1" style="color:red;"></div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="email">Email:</label> -->
                        <input type="email" class="form-control" id="regemail1" placeholder="Enter email" name="email">
                        <div id="regemailerror1" style="color:red;"></div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="pwd">Password:</label> -->
                        <input type="password" class="form-control" id="regpwd1" placeholder="Enter password" name="password_hash">
                        <div id="regpassworderror1" style="color:red;"></div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="email">Contact No:</label> -->
                        <input type="text" class="form-control" id="regphone1" placeholder="Enter State" name="state" minlength="10" maxlength="10">
                        <div id="regmobileerror1" style="color:red;"></div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="email">Contact No:</label> -->
                        <input type="text" class="form-control" id="regphone1" placeholder="Enter District" name="district">
                        <div id="regmobileerror1" style="color:red;"></div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="email">Contact No:</label> -->
                        <input type="text" class="form-control" id="regphone1" placeholder="Enter City" name="city">
                        <div id="regmobileerror1" style="color:red;"></div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="email">Contact No:</label> -->
                        <input type="text" class="form-control" id="regphone1" placeholder="Enter Address" name="address">
                        <div id="regmobileerror1" style="color:red;"></div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="email">Contact No:</label> -->
                        <input type="text" class="form-control" id="regphone1" placeholder="Enter Kisan ID" name="kisan_id">
                        <div id="regmobileerror1" style="color:red;"></div>
                    </div>
                
                    <h4 id="serverError" style="color:red; display: none;"></h4>
        
                    <input type="submit" class="btn btn-block btn-default text-uppercase" value="Register">
                 
                </div>
            </form>
        </div>
    </div>
</div>
            </div>
        
        
        



{% block content %}{% endblock %}

<!---->
<div class="footer">
    <div class="container wrap">
       <div class="logo2">
            <a href="/index"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="" style="width:50px"/></a>
       </div>
       <div class="ftr-menu">
            <ul>
                <li><a href="/index">Contact Us</a></li>
                <li><a href="">About NACOF</a></li>
                 <div class="image"><i class="fa fa-phone" aria-hidden="true"></i><li><a href="">Kisaan helpline +91-8888391295 </a></li></div>
                
                
            </ul>
       </div>
       <div class="clearfix"></div>
    </div>
</div>
<!---->

</body>
</html>

