<html>
<head>
<title>Agro site</title>
<link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/ourstyle.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<h3> Best time for fertilisation </h3>
<p>
	Fertilizers contain the building blocks for foliar and fruit production, bloom formation and root and general plant health. In poor soils, the treatment is essential for good plant vigor. </p>
	<p>The application of fertilizer may be from a soil drench, time release granular formula, stakes, or foliar spray. Whichever method works best for you, the time of year for fertilizing is a crucial bit of information. Each plant is slightly different, but there is one overall rule for most plants.
</p>
<p>
The umbrella rule for annual application of fertilizer is to apply in early spring. This encourages leafy growth and the production of flowers and then fruit. In some zones, early spring may still contain the surprise of a late freeze or even snow, which can harm the new growth forced by fertilizing. 
</p>
<p>In these regions, it is best to wait until the date of your last frost to prevent harm to juvenile growth. Fertilizer is most effective when used on plants at their peak growing cycle. This is when the plant is leafing out for deciduous species, flowering, or putting on new growth after leaving the dormant winter stage. The time of year for fertilizing most plants would then be spring.
</p>
<br> <br>

<h3> How to apply Fertilizer </h3>

<p>
	It is estimated that 3 pounds of nitrogen per 1,000 square feet is adequate for good growth on woody plants. That number may be adjusted to half that rate for some ornamental plants. Perennials benefit from only 1 pound of nitrogen per 1,000 feet.
	</p>
	<p> 
	The time of day to fertilize is important as well. If you are applying repeated applications to vegetables, for example, apply during the coolest part of the day.
	 For plant spikes and granular formulas, the best time of day to fertilize is when you are watering so the nutrients can start to break down and get to the plant’s roots. This also prevents root burn. </p>
	 <p>In any fertilizer application, it’s a good idea to water thoroughly to get the plant food to where it will do the most good. Avoid excessive fertilizer and preferably perform a soil test to see what nutrients your garden is deficit of. </p>
	 	<p>Over fertilizing can be as bad as no fertilizing and a soil test can point out what, if any, is needed for a bountiful harvest and vigorous plant growth. 

</p>
</body>
</html>