{% extends "base1.html" %}



{% block content %}


<!--/banner-->
<div class="cart">
	 <div class="container">
		 <div class="cart-top">
			<a href="/index"><< home</a>
		 </div>

		 <div class="col-md-9 cart-items">
			 <h2>My Shopping Bag (2)</h2>
				<script>$(document).ready(function(c) {
					$('.close1').on('click', function(c){
						$('.cart-header').fadeOut('slow', function(c){
							$('.cart-header').remove();
						});
						});
					});
			   </script>
			 <div class="cart-header">
				 <div class="close1"> </div>
				 <div class="cart-sec">
						<div class="cart-item cyc">
							 <img src="https://rukminim1.flixcart.com/image/832/832/j2ur3ww0/soil-manure/t/g/g/3-3ltr-leca-lightweight-exclusive-clay-aggregate-pebble-clay-original-imaeuy9v3nfpzunz.jpeg?q=70"/>
						</div>
					   <div class="cart-item-info">
							 <h3>SENECIO™ 3LTR. LECA LIGHTWEIGHT EXCLUSIVE CLAY AGGREGAT...<span>Model No: 4</span></h3>
							 <h4><span>Rs. </span>1080.00</h4>
							 <p class="qty">Qty ::</p>
							 <input min="1" type="number" id="quantity" name="quantity" value="1" class="form-control input-small">
					   </div>
					   <div class="clearfix"></div>
						<div class="delivery">
							 <p>Service Charges:: Rs.50.00</p>
							 <span>Delivered in 2-3 bussiness days</span>
							 <div class="clearfix"></div>
				        </div>
				  </div>
			 </div>
			 <script>$(document).ready(function(c) {
					$('.close2').on('click', function(c){
							$('.cart-header2').fadeOut('slow', function(c){
						$('.cart-header2').remove();
					});
					});
					});
			 </script>
			 <div class="cart-header2">
				 <div class="close2"> </div>
				  <div class="cart-sec">
						<div class="cart-item">
							 <img src="https://rukminim1.flixcart.com/image/832/832/j9it30w0/soil-manure/h/6/p/100-troots-d-divine-tree-original-imaezaugazgubfjz.jpeg?q=70"/>
						</div>
					   <div class="cart-item-info">
							 <h3>DIVINE TREE FASTROOTS DRY POWDER ROOTING HORMONE SOIL M...<span>Model No: 5</span></h3>
							 <h4><span>Rs. </span>620.00</h4>
							 <p class="qty">Qty ::</p>
							 <input min="1" type="number" id="quantity" name="quantity" value="1" class="form-control input-small">
					   </div>
					   <div class="clearfix"></div>
						<div class="delivery">
							 <p>Service Charges:: Rs.50.00</p>
							 <span>Delivered in 2-3 bussiness days</span>
							 <div class="clearfix"></div>
				        </div>
				  </div>
			  </div>
		 </div>

		 <div class="col-md-3 cart-total">
			 <a class="continue" href="#">Continue to basket</a>
			 <div class="price-details">
				 <h3>Price Details</h3>
				 <span>Total</span>
				 <span class="total">1700.00</span>
				 <span>Discount</span>
				 <span class="total">---</span>
				 <span>Delivery Charges</span>
				 <span class="total">200.00</span>
				 <div class="clearfix"></div>
			 </div>
			 <h4 class="last-price">TOTAL</h4>
			 <span class="total final">1900.00</span>
			 <div class="clearfix"></div>
			 <a class="order" href="#">Place Order</a>
			 <div class="total-item">
				 <h3>OPTIONS</h3>
				 <h4>COUPONS</h4>
				 <a class="cpns" href="#">Apply Coupons</a>
				 <p><a href="#">Log In</a> to use accounts - linked coupons</p>
			 </div>
			</div>
	 </div>
</div>
<!---->


{% endblock %}
