<html>
<head>
<title>Agro site</title>
<link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/ourstyle.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<h3> What is the difference between compost and fertiliser? </h3>
You hear the terms ‘fertiliser’ and ‘compost’ a lot in gardening, but the difference isn't always clear.
<br>
<p>
In simple terms, fertilizers add nutrients directly to the soil, in a form that plant roots can quickly absorb – in the same way as you might take vitamin supplements.

Composts add organic material and nutrients to the soil. This improves its structure and increases the amount of good bacteria and organisms in the soil. These break down plant material, gradually helping to build up the amount of nutrients naturally available in the soil. You could think of compost as the soil’s way of having a healthy lifestyle.

So fertilisers are useful for giving plants a short-term boost, while composts improve soil fertility and soil health create good soil, which promotes long-term plant health.
</p>
<br><br>

<h3>Different kinds of fertiliser</h3>
<br>
<p>For a product to be described as fertilizer, it has to contain a certain amount of the primary nutrients nitrogen (N), phosphorus (P) and potassium (K). That's why you'll see the letters N,P,K on the packaging of your chosen fertiliser, usually with the relative amounts or proportions of each.

Most fertilisers contain a range of nutrients and some are specifically formulated to address particular nutritional plant needs. For example, potassium compounds (sometimes called ‘potash’) help plants develop flowers and fruit, so fertilizers for tomatoes, roses and fruit have high levels of this nutrient. Plants like cabbage, lettuce and spinach need high nitrogen fertilizers, which promote good leaf growth.
</p>
<br><br>
<h4>
Organic fertilisers
</h4>
<br>
<p>
Organic fertilisers are made from plant or animal sources such as seaweed, dried blood, bone (such as Miracle-Gro Fish, Blood and Bone and Miracle-Gro Bonemeal), and horn and poultry waste (such as Miracle-Gro Chicken Manure Pellets). They tend to be slower-acting than inorganic (chemical) fertilisers because the big organic molecules need to be broken down by soil bacteria into nutrients that the plants can use.
</p>
<br><br>
<h4>
Inorganic fertilisers
</h4>
<br>
<p>
Inorganic fertilisers are plant nutrients in a synthetic form, derived chemically from mined minerals and crude oil. They tend to be faster acting than organic fertilisers as they're already in a form that the plant can absorb instantly.

NB: The term ‘organic’ when applied to fertilisers doesn’t necessarily mean that they meet the standards needed for growing organic produce. It just means that they’re made from natural sources rather than being chemically manufactured.
</p>
<br><br>
<h3>
NOTE:
</h3>
<br>
<p>
Depending on how long you need the effects of your fertilizer to last for, there are different formulations available.
</p>
<br><br>
<h4>
Fast acting fertilisers
</h4>
<br>
<p>
Fast acting fertilisers are usually inorganic liquid feeds and are the perfect tonic for plants needing a pick-me-up.
</p>
<br>
<h4>
Slow release fertilisers
</h4>
<br>
<p>
Slow release fertilisers are generally a course powder that can be scattered around the base of plants. They are usually organic.

Controlled release fertilisers
Controlled release fertilisers are usually inorganic. They come as granules or pellets, and release nutrients for anything up to a 12 month period.

Always follow the instructions on the pack. Too much fertiliser can damage the soil and your plants. Over-doing feeds can make your plants more vulnerable to attack from pests as it produces an abundance of soft leafy growth (particularly with nitrogen feeds) which slugs and caterpillars love.
</p>




<h3>Essential Plant Nutrients</h3>
<br>
<p>
Proper nutrition is essential for satisfactory crop growth and production. The use of soil tests can help to determine the status of plant available nutrients to develop fertilizer recommendations to achieve optimum crop production. The profit potential for farmers depends on producing enough crop per acre to keep production costs below the selling price. Efficient application of the correct types and amounts of fertilizers for the supply of the nutrients is an important part of achieving profitable yields. 

There are at least 16 elements known to be essential for plant growth. Carbon (C), hydrogen (H), and oxygen (O) are derived from carbon dioxide (CO2) and water (H2O). Nitrogen (N), phosphorus (P), potassium (K), sulphur (S), calcium (Ca), magnesium (Mg), boron (B), chlorine(Cl), copper (Cu), iron (Fe), manganese (Mn), molybdenum (Mo) and zinc (Zn) are normally derived from the soil in the form of inorganic salts. Ninety-four to 99.5 per cent of fresh plant material is made up of carbon, hydrogen and oxygen. The other nutrients make up the remaining 0.5 to 6.0 per cent. 

	</p>

<br> <br>

<h3>
Soil Nutrient Content and Soil Testing
</h3>
<br>
<p>
Nitrogen and phosphorus are the most commonly deficient nutrients in Canadian prairie soils. Potassium and sulphur deficiencies occur in particular areas and soil types. Calcium and magnesium are contained in lime which is plentiful in most prairie soils and therefore deficiency problems are rare. Research has found micronutrient deficiency problems are not common on the prairies. However, specific soil conditions have been identified where inadequate levels of micronutrients occur. In central Alberta, on the Black, Gray-Black transition soils and organic soils, Copper (Cu) deficiency problems and significant responses to Cu fertilizer have been observed. 

Soil sampling and testing can give an excellent inventory of plant available nutrients and other soil chemical factors important for crop production. This inventory is a basis for recommending additional nutrients for crop production on an individual field basis. 

Soil nutrient levels vary from year to year, and frequently will vary within fields, even on fields that seem to be uniform. It is therefore necessary to follow certain recommended steps for soil sampling and testing to develop a sound ongoing soil fertility management program. 

An understanding of general nutrient status can be obtained for a field if soil tests are conducted. Nitrogen soil testing is recommended annually as the available nitrogen can change considerably from year to year. Changes are dependent upon environmental conditions such as rainfall and temperature patterns during a growing season, type and yield of crop harvested, date of harvest, fall tillage, amount of fertilizer applied to the previous crop. Potassium and phosphorus levels do not change substantially in a soil over a period of several years. Therefore, sampling for phosphorus and potassium may be conducted every 2 or 3 years, or when changing crop type.
<br> Sampling for sulphur should be done annually, unless a previous test indicates that the available levels to 60 cm (24 in) are in excess of 55 kg/ha (50 lb/ac). In the latter case, a test for sulphur every 2 to 3 years is adequate. 
<br>
While it is recognized that soil testing is not an infallible guide to crop production and that other factors also come into play, soil tests help to reduce the guesswork in fertilizer practices. In the past, Alberta farmers that have soil tested, have generally applied significantly more fertilizer than farmers that did not soil test.
 Past observations suggest that Alberta farmers that do not soil test in many instances may be applying less nitrogen fertilizer than needed to obtain the most economical yield. 
<br>
Poor soil sampling technique is a major problem which causes variation in fertilizer recommendations. Soil testing is only as good as the quality of the soil samples. Therefore, good soil sampling procedures must include: 
<br>
1. Determine where and how to soil sample each field.
<br> 
2. Use proper equipment and supplies.
<br> 
3. Sample at the proper time of the year. 
<br>
4. Obtain samples from the correct soil depths. 
<br>
5. Handle soil samples properly. 
<br>

Being familiar with the proper soil sampling procedures is important whether you are doing the sampling yourself or it is being done by a custom operator. 

<h4>Determine where and how to soil sample each field</h4>
	<br>
	<p>
Soil sampling should be done on an individual field basis. Samples from different fields should not be mixed. Begin by evaluating each field to determine representative areas. Sample hilly fields with knolls, slopes, or depressions, separatedly from mid slope positions to ensure any potential sulphur or other nutrient problem is detected. 
</p>
	<p>
Major areas within fields having distinctly different soil properties such as texture should be sampled and fertilized as separate fields because of different nutrient requirements. 

Problem areas such as saline spots, poorly drained depressions, and eroded knolls should not be sampled unless they represent a significant portion of the field. If they do, separate samples should be obtained. In addition, other abnormal areas such as old manure piles, burnpiles, haystacks, corrals, fence rows or farmstead sites should be avoided. At least 15 to 20 sampling sites are required for each field to give a good representative sample. Samples taken from only four or five sites in a field are generally not representative and often result in incorrect fertilizer recommendations. 
</p>
<br> <br>
<h3> Four basic methods for taking soil samples: </h3>
<br>
<h4> Benchmark Soil Sampling</h4>

<p> This method involves selecting uniquely different areas within a field and sampling each area separately. Unique areas are selected based on soil types, topography and crop growth. Once sites are selected, the producer will take soil samples from each specific area each year to use as a guide of fertilizing all similar areas within the field. This method is rapidly gaining popularity in Alberta, particularly with farmers that are adopting precision farming techniques. This is the current recommended method which has the best chance to maximize you're economic yield. 
</p>
<br>
<h4>Grid Soil Sampling</h4>
<p>With this method, a field is sampled in an organized grid pattern. Soil sample frequency may range from taking one sample in 0.5 acre units of the field to one sample for each 5.0 acre units of the field. The smaller the soil sampling unit the greater the accuracy of the sample. The advantage of this method is that a field map that can be prepared for each nutrient and be used for variable rate fertilization and precision farming. The cost of taking the soil samples and the soil analysis is very high and therefore is not economical for many producers. 
</p>
<br>

<h4>Topographic Soil Sampling </h4>
<p>With this method, a producer selects the separate soil sampling sites based on topography. A set of soil samples is taken from each uniquely different topographic area within a field. 
</p>
<br>

<h4>Random Soil Sampling </h4> 
<p>This involves taking soil samples in a random pattern across a field, generally avoiding unusual or problem soil areas within a field. Generally the field should not be more than 80 acres in size and has been cropped uniformly in the past. Normally, 15 to 20 sites must be sampled to obtain a representative soil sample of the field. This is the most common method of sampling presently used in Alberta. 

	</p>
	<br>
<a href="http://utbfc.utk.edu/Content%20Folders/Forages/Fertilization/Publications/PB1637.pdf" style="color:#46BECF" target="_blank">For detailed information, Download this!</a>


</body>
</html>
