<html>
<head>
<title>Agro site</title>
<link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/ourstyle.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<h4 align="center" style="color:#000000;"> <br> <b> Farmers Welfare Schemes </b></br> </h4> 
	<br> 
	<p>
		Government of India is according high priority for welfare of the farmers and is implementing several farmers’ welfare schemes to revitalize agriculture sector and to improve their economic conditions. The Government has rolled out a number of new initiatives like Soil Health Card Scheme, Neem Coated Urea, Paramparagat Krishi Vikas Yojana (PKVY), Pradhan Mantri Krishi Sinchayee Yojana (PMKSY), National Agriculture Market (e-NAM), Pradhan Mantri Fasal Bima Yojana (PMFBY) and Interest Subvention Scheme.  These schemes are for the benefit of all farmers. The details of the schemes are as below:

    </p>
    <br> <br>  

    

        <h4 style="color:#A8DA0C;">(i)         Soil Health Card Scheme: </h4>
        <br> 
 
 <p>
Launched in 2015, the scheme has been introduced to assist State Governments to issue Soil Health Cards to all farmers in the country.  The Soil Health Cards provide information to farmers on nutrient status of their soil alongwith recommendation on appropriate dosage of nutrients to be applied for improving soil health and its fertility.
As on 11.7.2017, against target of 253 lakh soil samples, all 253 lakh soil samples have been collected and 245 lakh (97%) samples have been tested.  Against target of 12 crore Soil Health Cards, so far 9 crore (76%) cards have been distributed to farmers.
</p>
 <br> <br> 

<h4 style="color:#A8DA0C;">   (ii)        Neem Coated Urea (NCU): </h4>
<br> 
 
<p>
Scheme being promoted to regulate use of urea, enhance availability of nitrogen to the crop and reduce cost of fertilizer application.  NCU slows down the release of fertilizer and makes it available to the crop in an effective manner. The entire quantity of domestically manufactured and imported urea is now neem coated. The reports from field are positive. The expected saving is 10% of urea consumption, thereby resulting in reduced cost of cultivation and improved soil health management.
</p>
<br> <br> 
 

<h4 style="color:#A8DA0C;"> (iii)       Paramparagat Krishi Vikas Yojana  (PKVY): </h4>
<br> 
 
<p>
Paramparagat Krishi Vikas Yojana (PKVY) is being implemented with a view to promote organic farming in the country.  This will improve soil health and organic matter content and increase net income of the farmer so as to realise premium prices. Under this scheme, an area of 5 lakh acre is targeted to be covered though 10,000 clusters of 50 acre each, from the year 2015-16 to 2017-18.
So far 7208 clusters have been formed and remaining  clusters would be formed during 2017-18. 
 </p>
 <br> <br> 

  <h4 style="color:#A8DA0C;"> (iv)       Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) : </h4>
<br> 
 
<p>
Launched on 1st July, 2015 with the motto of ‘Har Khet Ko Paani’, the Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) is being implemented to expand cultivated area with assured irrigation, reduce wastage of water and improve water use efficiency. PMKSY not only focuses on creating sources for assured irrigation, but also creating protective irrigation by harnessing rain water at micro level through ‘Jal Sanchay’ and ‘Jal Sinchan’.  Micro irrigation is also incentivized through subsidy to ensure ‘Per drop-More crop’.  The target under micro-irrigation for the year 2016-17 was 8 lakh ha. against which 8.39 lakh ha have been covered.

 </p>
 <br> <br> 

 <h4 style="color:#A8DA0C;"> (v)       National Agriculture Market (e-NAM):</h4>
<br> 
 <p>

The National Agriculture Market scheme (e-NAM) envisages initiation of e-marketing platform at national level and to support creation of infrastructure to enable e-marketing in 585 regulated markets across the country by March 2018. This innovative market process is revolutionizing agri markets by ensuring better price discovery, bringing in transparency and competition to enable farmers to get improved remuneration for their produce moving towards ‘One Nation One Market’.  A target of integrating 400 markets to e-NAM had been set for March, 2017 against which 455 markets in 13 States have been on boarded as on 30.6.2017.  As on 2.7.2017, 47.95 lakh farmers and 91,500 traders have registered on e-NAM portal.

 </p>
 <br> <br> 
 <h4 style="color:#A8DA0C;">

(vi)       Pradhan Mantri Fasal Bima Yojana (PMFBY)/ Restructured Weather Based Crop Insurance Scheme (RWBCIS): 

 </h4>
 <br> 

 <p>

Pradhan Mantri Fasal Bima Yojana (PMFBY) & Restructured Weather Based Crop Insurance Scheme (RWBCIS) were launched from Kharif 2016 to provide comprehensive crop insurance coverage from pre-sowing to post harvest losses against non-preventable natural risks.  These schemes are only risk mitigation tools available to farmers at extremely low premium rates payable by farmers at 2% for Kharif crops, 1.5% for Rabi Crop and 5% for annual commercial/horticultural crops.  The balance of actuarial premium is shared by the Central and State 
Governments on 50 : 50 basis.  The schemes are voluntary for States and available in areas and crops that are notified by the State Governments.    Further, the schemes are compulsory for loanee farmers and voluntary for non-loanee farmers. 

During Kharif 2016 season, a total of 23 States implemented both PMFBY (21) and RWBCS (12) and during Rabi 2016-17, 24 States and 3 Union Territories implemented PMFBY (25) and RWBCIS (9).    Overall coverage of both the schemes is 401.52 lakh farmers and 385 lakh ha. area insured for a sum of Rs. 133106 crore in Kharif 2016 and 172.67 lakh farmers and 195 lakh ha. area insured for a sum of Rs. 71696 crore during Rabi 2016-17 season.
</p>
<br><br> 
 
<h4 style="color:#A8DA0C;">
(vii)    Interest Subvention Scheme (ISS):</h4>

<br> 
<p>
The Government provides interest subvention of 3% on short-term crop loans up to Rs.3.00 lakh.  Presently, loan is available to farmers at an interest rate of 7% per annum, which gets reduced to 4% on prompt repayment.  Further, under Interest Subvention Scheme 2016-17, in order to provide relief to the farmers on occurrence of natural calamities, the interest subvention of 2% shall continue to be available to banks for the first year on the restructured amount. In order to discourage distress sale by farmers and to encourage them to store their produce in warehouses against negotiable warehouse receipts, the benefit of interest subvention will be available to small and marginal farmers having Kisan Credit Card for a further period of upto six months post harvest on the same rate as available to crop loan.

Agriculture is a State subject and the State Governments are primarily responsible for the growth and development of agriculture sector in their respective States. The Government supplements the efforts of States through appropriate policy measures and budgetary support.  Presently the approach of the Government of India has shifted from production centric to income centric platform in the agriculture sector and the above schemes are being implemented for making farming viable.

 
</p>
<br><br> 

<h5 style="color:#000000;">NOTE:</h5>
<br>
<p>
This information was given by the Minister of State for Agriculture & Farmers Welfare, Shri Parshottam Rupala, in reply to a question in Lok Sabha today.
</p>

<a href="http://www.agriclinics.net/ffhb.pdf" style="color:#46BECF" target="_blank">For detailed information, Download this!</a>


</body>
</html>
