<!DOCTYPE html>
<html>
<head>
{% if title %}
<title>{{ title }} | Agricart</title>
{% else %}
<title>Welcome to Agricart</title>
{% endif %}
<link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/ourstyle.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Bike-shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
<!--webfont-->
<!-- dropdown -->
<script src="static/js/jquery.easydropdown.js"></script>
<link href="static/css/nav.css" rel="stylesheet" type="text/css" media="all"/>
<script src="static/js/scripts.js" type="text/javascript"></script>
<!--js-->
<!---- start-smoth-scrolling---->
		<script type="text/javascript" src="static/js/move-top.js"></script>
		<script type="text/javascript" src="static/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!---- start-smoth-scrolling---->


</head>
<body>
<!--banner-->
<script src="static/js/responsiveslides.min.js"></script>
<script>  
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>

<style>
.login--form .close {
	box-shadow: 0 0 1px #b7b7b7;
    float: none;
    position: absolute;
    top: -15px;
    right: -15px;
    min-width: 30px;
    color: #393939;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px #b7b7b7;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    outline: 0;
    z-index: 1;
}
.login--form .title {
    margin-bottom: 21px;
}
.form-control {
    height: 40px;
    padding: 7px 25px;
    border-radius: 0;
    box-shadow: none;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    outline: 0;
	background-color: #f8f8f8;
	width: 100%;
}
#login_form input[type="submit"]:hover, #REGISTERForm input[type="submit"]:hover {
    background: #000;
    color: #fcff19;
}
@media (max-width: 1440px)
{
	#login_form input[type="submit"], #REGISTERForm input[type="submit"] {
		width: 89%;
		margin: 0 0 0 18px;
		padding: 11px 0px;
	}
}
#login_form input[type="submit"], #REGISTERForm input[type="submit"] {
    color: #fff;
    background: #b7b7b7;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    border: none;
    width: 100%;
    margin: 0 auto;
    padding: 10px 30px;
    display: block;
    border-radius: 7px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
</style>

<div class="banner-bg banner-bg1">	
	  <div class="container">
			 <div class="header">
			       <div class="logo">
						 <a href="/index"> <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" style="width:50px"/></a>
				   </div>							 
				  <div class="top-nav">										 
						<label class="mobile_menu" for="mobile_menu">
						<span>Menu</span>
						</label>
						<input id="mobile_menu" type="checkbox">
					   <ul class="nav">
						  <li class="dropdown1"><a href="/showproducts">Products</a>
							  <ul class="dropdown2">
									<li><a href="/products/2">Fertilizers</a></li>
									<li><a href="/products/3">Manure</a></li>
									<li><a href="/products/1">Tools</a></li>												
							  </ul>
						  </li>
						  <li class="dropdown1"><a href="#">Information</a>
							 <ul class="dropdown2">
									<li><a href="/government_schemes">Goverment Schemes</a></li>
									<li><a href="/fertilisers">Fertilisers</a>
                                     
									</li>
							  </ul>
						 </li> 

						 <li class="dropdown1"><a href="#">Soil Health</a>
							 <ul class="dropdown2">
									<li><a href="/soil_health_info">Soil health Info</a></li>
									<li><a href="/farmer_advice">Farmer Advice</a>
                                     
									</li>
							  </ul>
						 </li> 

						 <li class="dropdown1"><a href="/weather">Weather Status</a></li>
                         <!-- <li class="dropdown1"><a href="#">Q/A Forum</a></li>      -->
						          
						 {% if current_user.is_anonymous %}
						 <li><a href="#" data-toggle="modal" data-target="#loginForm">LOGIN</a></li>
						 <li><a href="#" data-toggle="modal" data-target="#REGISTERForm">SIGNUP</a></li>
						 {% else %}
						 <!-- <li><a href="{{ url_for('user_profile', username=current_user.username) }}">Profile</a></li> -->
						 <li><a href={{url_for("logout")}}>Logout</a></li>
						 {% endif %}
						  <a class="shop" href="/cart"><img src="static/images/cart.png" alt=""/></a>
					  </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
	  </div>	
	  

	  <div id="loginForm" class="login--form modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                    <div class="title">
                        <h2 class="h4">Login</h2> </div>
						<form method="post" action="{{url_for("login")}}" data-form="validate" id="login_form" novalidate="novalidate">
							<!-- <div class="form-group">
								<input type="email" name="username" id="logemail" placeholder="Your Email" class="form-control" required="" autofocus=""> 
								<div id="logemailerror" style="color:red;"></div>
							</div>
							<div class="form-group">
								<input type="password" name="password" id="logpassword" placeholder="Password" class="form-control" required=""> 
								<div id="logpassworderror" style="color:red;"></div>
							</div>
							<p class="help-block"><a style="cursor: pointer" onclick="forgetp()">Forgot Your Password?</a></p>
							<input type="submit" id="loginbtn" value="LOGIN" class="btn btn-block btn-default"> -->
							
							{{ form.hidden_tag() }}
							<div class="form-group">
								{{ form.username(size=32, class_="form-control", placeholder="Your username") }}
								{% for error in form.username.errors %}
								<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</div>
							<div class="form-group">
								{{ form.password(size=32, class_="form-control", placeholder="Your password") }}
								{% for error in form.password.errors %}
								<span style="color: red;"> [{{ error }}] </span>
								{% endfor %}
							</div>
							{{ form.remember_me() }} {{ form.remember_me.label }}
							{{ form.submit() }}
						</form>
                </div>
            </div>
        </div>
    </div>


	<div id="REGISTERForm" class="login--form modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <div class="modal-body">
                    <div class="title">
                        <h2 class="h4">REGISTRATION</h2> </div>
						<form action="/register" method="post" data-form="validate" id="reg_without_verify" novalidate="novalidate">
							
							<div class="form-group">
								<!-- <label for="email">Name:</label> -->
								<input type="text" class="form-control" id="regname1" placeholder="Enter name" name="username" autofocus="">
								<div id="regnameerror1" style="color:red;"></div>
							</div>
							<div class="form-group">
								<!-- <label for="email">Email:</label> -->
								<input type="email" class="form-control" id="regemail1" placeholder="Enter email" name="email">
								<div id="regemailerror1" style="color:red;"></div>
							</div>
							<div class="form-group">
								<!-- <label for="pwd">Password:</label> -->
								<input type="password" class="form-control" id="regpwd1" placeholder="Enter password" name="password_hash">
								<div id="regpassworderror1" style="color:red;"></div>
							</div>
							<div class="form-group">
								<!-- <label for="email">Contact No:</label> -->
								<input type="text" class="form-control" id="regphone1" placeholder="Enter State" name="state" minlength="10" maxlength="10">
								<div id="regmobileerror1" style="color:red;"></div>
							</div>
							<div class="form-group">
								<!-- <label for="email">Contact No:</label> -->
								<input type="text" class="form-control" id="regphone1" placeholder="Enter District" name="district">
								<div id="regmobileerror1" style="color:red;"></div>
							</div>
							<div class="form-group">
								<!-- <label for="email">Contact No:</label> -->
								<input type="text" class="form-control" id="regphone1" placeholder="Enter City" name="city">
								<div id="regmobileerror1" style="color:red;"></div>
							</div>
							<div class="form-group">
								<!-- <label for="email">Contact No:</label> -->
								<input type="text" class="form-control" id="regphone1" placeholder="Enter Address" name="address">
								<div id="regmobileerror1" style="color:red;"></div>
							</div>
							<div class="form-group">
								<!-- <label for="email">Contact No:</label> -->
								<input type="text" class="form-control" id="regphone1" placeholder="Enter Kisan ID" name="kisan_id">
								<div id="regmobileerror1" style="color:red;"></div>
							</div>
						
							<h4 id="serverError" style="color:red; display: none;"></h4>
				
							<input type="submit" class="btn btn-block btn-default text-uppercase" value="Register">
						 
						</div>
					</form>
                </div>
            </div>
        </div>
    </div>



	  
	 <div class="caption">
		 <div class="slider">
					   <div class="callbacks_container">
						   <ul class="rslides" id="slider">
							    <li><h1>AGRICULTURE FERTILIZERS</h1></li>
								<li><h1>AGRICULTURE RAW MATERIALS</h1></li>	
								<li><h1>AGRICULTURE TOOLS</h1></li>	
						  </ul>
						  <p style="color:#000000;"> Farming is not just a job, it’s a way of life.</p>
						  <a class="morebtn" href="/showproducts">SHOP Agro Products</a>
					  </div>
				  </div>
	 </div>
	 <div class="dwn">
		<a class="scroll" href="#cate"><img src="static/images/scroll.png" alt=""/></a>
	 </div>				 
</div>
<!--/banner-->
<div id="cate" class="categories">
	 <div class="container">
		 <h3>CATEGORIES</h3>
		 <div class="categorie-grids">
			 <a href="/products/2"><div class="col-md-4 cate-grid grid1">
				 <h4>Fertilizers</h4>
				 <p></p>
				 <a class="store" href="/products/2">GO TO STORE</a>
			 </div></a>
			 <a href="/products/3"><div class="col-md-4 cate-grid grid2">
				 <h4>Raw Materials</h4>
				 <p></p>
				 <a class="store" href="/products/3">GO TO STORE</a>
			 </div></a>
			 <a href="/products/1"><div class="col-md-4 cate-grid grid3">
				 <h4>Tools</h4>
				 <p></p>
				 <a class="store" href="/products/1">GO TO STORE</a>
			 </div></a>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--bikes
<div class="bikes">	
		 <h3>POPULAR BIKES</h3>
		 <div class="bikes-grids">			 
			 <ul id="flexiselDemo1">
				 <li>
					 <img src="static/images/bik1.jpg" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4>FIXED GEAR<span>$249.00</span></h4>							 
						 </div>
						 <div class="model-info">
						     <select>
							  <option value="volvo">OPTION</option>
							  <option value="saab">Option</option>
							  <option value="opel">Option</option>
							  <option value="audi">Option</option>
							 </select>
							 <a href="bicycles.html">BUY</a>
						 </div>						 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="bicycles.html">Quick View</a>
					 </div>
				 </li>
				 <li>
				 <img src="static/images/bik2.jpg" alt=""/>
				 <div class="bike-info">
						 <div class="model">
							 <h4>BIG BOY ULTRA<span>$249.00</span></h4>							 
						 </div>
						 <div class="model-info">
						     <select>
							  <option value="volvo">OPTION</option>
							  <option value="saab">Option</option>
							  <option value="opel">Option</option>
							  <option value="audi">Option</option>
							 </select>
							 <a href="bicycles.html">BUY</a>
						 </div>						 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="bicycles.html">Quick View</a>
					 </div>
				 </li>
				 <li>
					 <img src="static/images/bik3.jpg" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4>ROCK HOVER<span>$300.00</span></h4>							 
						 </div>
						 <div class="model-info">
						     <select>
							  <option value="volvo">OPTION</option>
							  <option value="saab">Option</option>
							  <option value="opel">Option</option>
							  <option value="audi">Option</option>
							 </select>
							 <a href="bicycles.html">BUY</a>
						 </div>						 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="bicycles.html">Quick View</a>
					 </div>
				 </li>
				 <li>
				     <img src="static/images/bik4.jpg" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4>SANSACHG<span>$249.00</span></h4>							 
						 </div>
						 <div class="model-info">
						     <select>
							  <option value="volvo">OPTION</option>
							  <option value="saab">Option</option>
							  <option value="opel">Option</option>
							  <option value="audi">Option</option>
							 </select>
							 <a href="static/bicycles.html">BUY</a>
						 </div>						 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="bicycles.html">Quick View</a>
					 </div>
				 </li>
				 <li>
					 <img src="static/images/bik5.jpg" alt=""/>
					 <div class="bike-info">
						 <div class="model">
							 <h4>JETT MAC<span>$340.00</span></h4>							 
						 </div>
						 <div class="model-info">
						     <select>
							  <option value="volvo">OPTION</option>
							  <option value="saab">Option</option>
							  <option value="opel">Option</option>
							  <option value="audi">Option</option>
							 </select>
							 <a href="bicycles.html">BUY</a>
						 </div>						 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="bicycles.html">Quick View</a>
					 </div>
				 </li>
				 <li>
				      <img src="static/images/bik6.jpg" alt=""/>
					  <div class="bike-info">
						 <div class="model">
							 <h4>SANSACHG<span>$249.00</span></h4>							 
						 </div>
						 <div class="model-info">
						     <select>
							  <option value="volvo">OPTION</option>
							  <option value="saab">Option</option>
							  <option value="opel">Option</option>
							  <option value="audi">Option</option>
							 </select>
							 <a href="bicycles.html">BUY</a>
						 </div>						 
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="bicycles.html">Quick View</a>
					 </div>
				 </li>
		    </ul>
			<script type="text/javascript">
			 $(window).load(function() {			
			  $("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover:true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 1
					}, 
					landscape: { 
						changePoint:640,
						visibleItems: 2
					},
					tablet: { 
						changePoint:768,
						visibleItems: 3
					}
				}
			});
			});
			</script>
			<script type="text/javascript" src="static/js/jquery.flexisel.js"></script>			 
	</div>
</div>
<!---->
<h1 class="header-title"> Contact </h1>
    <hr>
<div class="container animated fadeIn">
<div class="col-md-6">
 <div id="googleMap"  style="width:100%;height:350px;"></div>

<script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng(21.229936,81.652964),
    zoom:14,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

 var marker = new google.maps.Marker({
               position: new google.maps.LatLng(21.229936,81.652964),
               map: map,
               animation:google.maps.Animation.Drop
            });

  var infowindow = new google.maps.InfoWindow({
               content:"C-180, Near Rattan Palace, Shailendra Nagar, Raipur, Chhattisgarh, India"
            });

        google.maps.event.addListener(marker, 'click', function() {
               infowindow.open(map,marker);
            });


}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmvVDEUYrFtpDiou4YciRuw6_h0T-lE0M&callback=myMap">

</script>
</div>



      <div class="col-md-6">
        <form action="/contactus" class="contact-form" method="post">

            <div class="form-group">
              <input type="text" class="form-control" id="name" name="nm" placeholder="Name" required="">
            </div>


            <div class="form-group form_left">
              <input type="email" class="form-control" id="email" name="em" placeholder="Email" required="">
            </div>

          <div class="form-group">
               <input type="text" class="form-control" id="phone" name="mb" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Mobile No." required="">
          </div>
          <div class="form-group">
          <textarea class="form-control textarea-contact" rows="5" id="comment" name="FB" placeholder="Type Your Message/Feedback here..." required=""></textarea>
          <br>
            <button class="btn btn-default btn-send"> <span class="glyphicon glyphicon-send"></span> Send </button>
          </div>
        </form>
      </div>
    </div>
  </div>
 </div>

  <div class="container second-portion">


      <div class="col-xs-12 col-sm-6 col-lg-4 col-md-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
          <div class="info">
            <h3 class="title">MAIL & WEBSITE</h3>
            <p>
              <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp nacof.ltd@gmail.com
              <br>
              <br>
              <i class="fa fa-globe" aria-hidden="true"></i> &nbsp www.nacof-india.com
            </p>

          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 col-md-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
          <div class="info">
            <h3 class="title">CONTACT</h3>
              <p>
              <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp 0771-4070142
              <br>
            </p>

          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 col-md-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <div class="info">
            <h3 class="title">ADDRESS</h3>
              <p>
               <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp C-180 <br>, Near Rattan Palace, Shailendra Nagar,<br>Raipur-492001
            </p>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>
</div>


<!---->

</body>
</html>

