{% extends "base1.html" %}



{% block content %}



<div class="product">
	 <div class="container" style="margin-top:25px; margin-bottom:25px;">
		 <div class="ctnt-bar cntnt">
			 <div class="content-bar">
				 <div class="single-page">
					 <div class="product-head">
						<a href="{{url_for("index")}}">Home</a> <span>::</span>	
						</div>
					 <!--Include the Etalage files-->
						<link rel="stylesheet" href="{{ url_for('static', filename='css/etalage.css') }}">
						<script src="{{ url_for('static', filename='js/jquery.etalage.min.js') }}"></script>
				<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 400,
					thumb_image_height: 400,
					source_image_width: 800,
					source_image_height: 1000,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
		</script>
						<!--//details-product-slider-->
						<div class="col-md-6">
					 <div class="details-left-slider">
							<img src="{{product.imagepath}}" class="img-responsive" />
						 <!-- <div class="grid images_3_of_2">
						  <ul id="etalage">
							<li>
								<a href="optionallink.html">
									<img class="etalage_thumb_image" src="{{product.imagepath}}" class="img-responsive" />
									<img class="etalage_source_image" src="{{product.imagepath}}" class="img-responsive" title="" />
								</a>
							</li>
							<li>
								<img class="etalage_thumb_image" src="static/images/m2.jpg" class="img-responsive" />
								<img class="etalage_source_image" src="static/images/m2.jpg" class="img-responsive" title="" />
							</li>
							<li>
								<img class="etalage_thumb_image" src="static/images/m3.jpg" class="img-responsive"  />
								<img class="etalage_source_image" src="static/images/m3.jpg"class="img-responsive"  />
							</li>
						    <li>
								<img class="etalage_thumb_image" src="static/images/m4.jpg" class="img-responsive"  />
								<img class="etalage_source_image" src="static/images/m4.jpg"class="img-responsive"  />
							</li>
						</ul>
						</div> -->
					 </div></div>
					 <div class="col-md-6">
					 <div class="details-left-info">
							<h3>{{product.name}}</h3>
							<h4>Product ID: {{product.id}}</h4>
							<p><label>Offer Price: Rs. </label> {{product.offer_price}}</p>
							<p>MRP Price: Rs. {{product.mrp}}</p>
							<div class="btn_form">
								<a href="cart.html">buy now</a>
								<a href="cart.html">ADD TO CART</a>
							</div>
							<div class="bike-type">
							<p>Category  ::<a href="/products/{{product.category}}">
								{% if product.category=='1' %}
									Tools
								{% elif product.category=='2' %}
									Fertilizers
								{% elif product.category=='3' %}
									Manure
								{% endif %}
							</a></p>
							<p>Cash on Delivery  ::{{product.cod_eligible}}</p>
							<p>Delivery Cost  ::{{product.delivery_cost}}</p>
							<p>Returnable  ::{{product.returnable}}</p>
							<p>Availabilty  ::{{product.availability}}</p>
							<p>Rating  ::{{product.rating}}</p>
							</div>
							<h5>Description  ::</h5>
							<p class="desc">{{product.details}}.</p>
					 </div></div>
					 <div class="clearfix"></div>				 	
				  </div>
			  </div>
		  </div>
		  <div class="single-bottom2" style="margin-top:25px; margin-bottom:25px;">
			  <h6>Related Products</h6>
			  	{% for product in related_products %}
				{% include "_product.html" %}
				{% endfor %}
			 <!-- <div class="product">
					 <div class="product-desc">
						  <div class="product-img product-img2">
							 <img src="static/images/s1.jpg" class="img-responsive " alt=""/>
						 </div>
						 <div class="prod1-desc">
								<h5><a class="product_link" href="bicycles.html">Road Bike</a></h5>
								<p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra. </p>									
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="product_price">
							<span class="price-access">$300.51</span>								
							<a class="button1" href="cart.html"><span>Add to cart</span></a>
					 </div>
						<div class="clearfix"></div>
			 </div>
			 <div class="product">
					 <div class="product-desc">
						  <div class="product-img product-img2">
							 <img src="static/images/s2.jpg" class="img-responsive " alt=""/>
						 </div>
						 <div class="prod1-desc">
								<h5><a class="product_link" href="bicycles.html">Mountain Bike</a></h5>
								<p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra. </p>									
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="product_price">
							<span class="price-access">$1500.51</span>								
							<a class="button1" href="cart.html"><span>Add to cart</span></a>
					 </div>
				  <div class="clearfix"></div>
			 </div>
			 <div class="product">
					 <div class="product-desc">
						  <div class="product-img product-img2">
							 <img src="static/images/s3.jpg" class="img-responsive " alt=""/>
						 </div>
						 <div class="prod1-desc">
								<h5><a class="product_link" href="bicycles.html">Single Speed Bike</a></h5>
								<p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra. </p>									
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="product_price">
							<span class="price-access">$800.51</span>								
							<a class="button1" href="cart.html"><span>Add to cart</span></a>
					 </div>
				 <div class="clearfix"></div>
			  </div> -->
		 </div>	
	 </div>
</div>
{% endblock %}
