<html>
<head>
<title>Agro site</title>
<link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/ourstyle.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<p style="color:#000000;">
		<br>
Macro nutrients are found in large quantities in plants, usually at least 0.1%. Micro nutrients are needed only in trace amounts and are usually counted in parts per million. Both are essential for happy, healthy plants.
</p>
<br>

<h3 align="center" style="color:#000000;"> <b> Most common macro nutrients found in soil </b> </h3>
<br>
<p>
<h4 style="color:#A8DA0C;"> Nitrogen </h4> Nitrogen is crucial to plants. It is found in amino acids, proteins, nucleic acids, and chlorophyll. 
</p>
<p>
<h4 style="color:#A8DA0C;"> 
Potassium </h4> Potassium is a positive ion that balances a plant’s negative ions. It also develops reproductive structures. 
</p>

<p>
<h4 style="color:#A8DA0C;">
Calcium </h4>Calcium is an essential component of a plant’s cell walls that affects its permeability. 
</p>

<p>
<h4 style="color:#A8DA0C;">
Magnesium </h4>
Magnesium is the central element in chlorophyll. It is a positive ion that balances a plant’s negative ions.
</p>

<p>
<h4 style="color:#A8DA0C;">
 Phosphorus </h4> Phosphorus is essential to nucleic acids, ADP, and ATP. It also regulates root flower growth, cell division, and the formation of protein. 
 </p>

<p>
<h4 style="color:#A8DA0C;">
 Sulphur  </h4> Sulphur is essential to protein structure and the vitamins thiamine and biotin. It is a coenzyme of vitamin A, which is important for respiration and fatty acid metabolism. 
<br> <br>

 <h3 align="center" style="color:#000000;"> <b>Most common micro nutrients found in soil </b></h3>
<br>
<p>
<h4 style="color:#A8DA0C;">
  Iron </h4>Iron is needed to make chlorophyll and is used in many oxidation/reduction reactions.
</p>

<p>
<h4 style="color:#A8DA0C;">
  Manganese </h4>Manganese is necessary for photosynthesis, respiration, and nitrogen metabolism.
  </p>
 
<p>
<h4 style="color:#A8DA0C;">
  Zinc </h4>Zinc helps synthesize proteins and is an essential element of growth control hormones.
  </p>
 
<p>
<h4 style="color:#A8DA0C;">
  Copper </h4>
  Copper is used to activate enzymes and is important in respiration and photosynthesis.
</p>
<body>
	</html>
 
