
<html>
<head>
<title>Agro site</title>
<link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/ourstyle.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<i>
<br>
<div class="container" style="margin-top: 30px; margin-bottom:30px;">
	<h2 align="center"  style="color:#000000;">
<b>Effect of temperature on crops</b>
</h2>
<h4 style="color:#A8DA0C;">
Germination:</h4> Proper temperature is essential for seed germination. Too high and too low temperature prohibits seed germination. Different crops have different term requirement for germination and complete life cycle.
<h4 style="color:#A8DA0C;">
Photosynthesis:</h4> Occurs within -6 to 370 Growth, development and yield: Production of dry matter occurs when soil temperature ranges bet 20-30 0C.
<h4 style="color:#A8DA0C;">
Flower initiation:</h4> Certain crops require low temperature for flower initiation and Flowering. E.g. Cabbage, cauliflower, carrot turnip etc flower in low temperature.
<h4 style="color:#A8DA0C;">
Life span:</h4> rabi> kharif-2> kharif-1 due to comparatively reduced respiration rate.
<h4 style="color:#A8DA0C;">
Transpiration/evaporation: </h4>kharif-1> kharif-2> rabi due comparatively higher temperature.
<h4 style="color:#A8DA0C;">
Insects, pests/diseases/weeds: </h4> Transpiration/evaporation: kharif-1> kharif-2> rabi due comparatively higher temperature.
<h4 style="color:#A8DA0C;">
Product quality:</h4> better quality in relatively low temperature (depending on crops)
<h4 style="color:#A8DA0C;"> Yield: </h4>rabi> kharif-2> kharif-1 due to comparatively reduced respiration rate and higher net photosynthetic rate.
<br>
<br>
 <h2
 align="center" style="color:#000000;">
<b>Effects of rainfall on crops</b>
</h2>
</br>
<h4 style="color:#A8DA0C;">
Germination:</h4> Proper moisture is essential for seed germination. Different crops have different moisture requirement for germination and complete life cycle. Wheat seed requires 55% water absorption compared to its weight for germination. Mustard requires less water absorption. T. Aman and jute requires more rainfall to grow. Chili and Potato seed damages with higher rainfall.
<h4 style="color:#A8DA0C;">
Fertilization:</h4> Atmospheric N added to the soil through rainfall.
Tillage and intercultural operations: Better performed under field capacity and wet condition depending on crops. Upland farming needs special practices.
Insects, pests/diseases/weeds: kharif-1> kharif-2> rabi due comparatively higher rainfall and excess moisture.
<h4 style="color:#A8DA0C;">
Photosynthesis: </h4>Less Net photosynthesis in more cloudy days.
Growth, development and yield: rabi> kharif-2> kharif-1 due to comparatively controlled moisture contents.
<h4 style="color:#A8DA0C;">
Soil erosion: </h4>higher in excessive rainfall and open field.
Product quality: rabi> kharif-2> kharif-1 due comparatively controlled.
Moisture contents: Grapes ate sour in rainy seasons.
<br>
<br>


</div>
</i>
</body>
</html>